.conact-us {
  margin-bottom: 60px;
}

.conact-us-wrapper {
  display: flex;
}

.form-wrapper {
  margin-right: 120px;
}

.contact-us-text-par {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: #1e0606;

  margin-top: 0;
  margin-bottom: 20px;
}

.contact-us-text-help {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;

  text-transform: uppercase;

  color: #c29974;

  margin: 0;
}
