.tittle {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 44px;

  margin-top: 60px;
  margin-bottom: 20px;
}

/* BREADCRUMBS */

.breadcrumbs {
  list-style: none;

  margin-bottom: 50px;

  padding: 0;
}

.breadcrumbs-item {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  line-height: 25px;

  display: inline-block;

  margin-right: 16px;
}

.breadcrumbs-item:not(:last-child):after {
  content: url(/images/breadcrumb.svg);
  margin-left: 17px;
  font-style: normal;
}

.breadcrumbs-link {
  color: #1e0606;
  text-decoration: none;
}

.breadcrumbs-link:not(span):hover {
  text-decoration: underline;
}

.breadcrumbs-active {
  color: #1e0606;
  opacity: 0.5;
}

/* PARAMETERS */

.parameters {
  min-width: 1400px;

  background-color: rgba(125, 151, 218, 0.2);

  margin-bottom: 60px;
}

/* form */

.parameters-form {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */

  padding: 42px 85px 42px 0;
}

.fieldset-parameters {
  border: none;

  margin: 0;

  padding: 0;
}

.parameters-cost {
  width: 206px;
  margin-right: 94px;
}

.parameters-name {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 16px;

  margin-bottom: 17px;
}

.label-parameters {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin-bottom: 15px;
}

.amount-item {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

/* range-cost */

.range-input {
}

input[type="range"] {
  -webkit-appearance: none;
  width: 193px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 8.35px solid #c29974;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"]::-ms-thumb {
  border: 8.35px solid #c29974;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* tange-track  */

input[type="range"]::-webkit-slider-runnable-track {
  width: 188px;
  height: 4px;
  cursor: pointer;
  background: #72757c;
}

input[type="range"]::-ms-track {
  width: 193px;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 24px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #72757c;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #c29974;
}
input[type="range"]::-ms-fill-upper {
  background: #72757c;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #c29974;
}

.range-cost {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin-top: 11px;
}

.range-cost .left {
  float: left;
}

.range-cost .right {
  float: right;
}

/* checkbox-color */

.parameters-color {
  margin-right: 125px;
}

.color-list {
  list-style-type: none;

  padding: 0;

  margin: 0;
}

.color-item {
  margin-bottom: 13px;
}

.checkbox-color {
  display: none;
}

.color-fake {
  display: inline-block;

  width: 19px;
  height: 19px;

  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;

  position: relative;

  margin-right: 7px;
}

.color-fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);

  display: block;
  width: 100%;
  height: 100%;
  background: url(/images/Vector_1.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;

  background-color: #ffffff;
  opacity: 0;
  transition: 0.2s;
}

.checkbox-color:checked + .color-fake::before {
  opacity: 1;
}

.color-label,
.color-fake {
  vertical-align: middle;
}

/* parameters-delivery */

.parameters-delivery {
  margin-right: 68px;
}

.delivery-list {
  list-style-type: none;

  padding: 0;

  margin: 0;
}

.delivery-item {
  margin-bottom: 10px;
}

.radio-delivery {
  display: none;
}

.delivery-fake {
  display: inline-block;

  width: 20px;
  height: 20px;

  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 50%;

  position: relative;

  margin-right: 7px;
}

.delivery-fake::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1.5px;

  display: block;
  width: 12px;
  height: 12px;

  border: 6px solid #c29974;
  box-sizing: border-box;
  border-radius: 50%;

  opacity: 0;
  transition: 0.2s;
}

.radio-delivery:checked + .delivery-fake::before {
  opacity: 1;
}

.delivery-label,
.delivery-fake {
  vertical-align: middle;
}
/* none */

/* parameters-amount */
.parameters-amount {
  display: flex;
}

.amount-list {
  display: flex;

  list-style-type: none;

  padding: 0;

  margin: 0;
}

.parameters-button {
  height: 40px;

  margin-top: 37px;

  background-color: #000000;
  border: none;

  color: white;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;

  cursor: pointer;
  padding: 9px 22px;

  cursor: pointer;
}

/* PRODUCTS */

.products {
}

.products-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;

  margin-top: 0;
  margin-bottom: 50px;
}

.products-list-card {
  width: 380px;
  text-align: center;

  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.products-image {
  margin-bottom: 30px;
}

.products-name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 500;
  color: #1e0606;

  margin-bottom: 15px;
}

.products-price {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1e0606;

  margin-bottom: 25px;
}

/* PRODUCT-PAGE */

.products-page {
  position: relative;

  margin-bottom: 60px;

  text-align: center;
}

.previous {
}

.next {
}

.page {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1e0606;

  line-height: 20px;
  padding: 0 28px;
  margin: 0;
  font-size: 20px;
}

.prev,
.next {
  cursor: pointer;
  height: 17px;
  width: 10px;
  top: 4px;
}
.next {
  float: right;
}
.prev:before,
.next:before {
  background-color: #e5e5e5;
  content: "";
  height: 17px;
  left: 4px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 17px;
}
.next:before {
  left: auto;
  right: 4px;
}
.prev:after,
.next:after {
  background-color: white;
  content: "";
  height: 17px;
  left: 8px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 17px;
}
.next:after {
  left: auto;
  right: 8px;
}
