.tittle {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 44px;

  margin-top: 60px;
  margin-bottom: 15px;
}

/* BREADCRUMBS */

.breadcrumbs {
  list-style: none;

  margin-bottom: 50px;

  padding: 0;
}

.breadcrumbs-item {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  line-height: 25px;

  display: inline-block;

  margin-right: 20px;
}

.breadcrumbs-item:not(:last-child):after {
  content: url(/images/breadcrumb.svg);
  margin-left: 20px;
  font-style: normal;
}

.breadcrumbs-link {
  color: #1e0606;
  text-decoration: none;
}

.breadcrumbs-link:not(span):hover {
  text-decoration: underline;
}

.breadcrumbs-active {
  color: #1e0606;
  opacity: 0.5;
}

/* PARAMETERS */

.parameters {
  min-width: 1400px;

  background-color: rgba(125, 151, 218, 0.2);

  margin-bottom: 60px;
}

/* form */

.parameters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 42px 85px 42px 0;
}

.fieldset-parameters {
  border: none;

  margin: 0;

  padding: 0;
}

.parameters-cost {
  width: 200px;
}

.parameters-name {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;

  margin-bottom: 15px;
}

.label-parameters {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin-bottom: 15px;
}

.amount-item {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

/* range-input */

.range-input {
}

input[type="range"] {
  -webkit-appearance: none;
  width: 188px;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 8.35px solid #c29974;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
}

input[type="range"]::-ms-thumb {
  border: 8.35px solid #c29974;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

/* tange-track  */

input[type="range"]::-webkit-slider-runnable-track {
  width: 188px;
  height: 4px;
  cursor: pointer;
  background: #72757c;
}

input[type="range"]::-ms-track {
  width: 188px;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 24px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #72757c;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #c29974;
}
input[type="range"]::-ms-fill-upper {
  background: #72757c;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #c29974;
}

.tick-range {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin-top: 16px;
}

.tick-range .left {
  float: left;
}

.tick-range .right {
  float: right;
}

/* color */

.color-list {
  list-style-type: none;

  padding: 0;

  margin: 0;
}

.color-item {
  margin-bottom: 15px;
}

.input-checkbox-color {
  display: none;
}

.fake {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
}

.fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 100%;
  height: 100%;
  background: url(/images/Vector_1.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;

  background-color: #ffffff;
  opacity: 0;
}

.input-checkbox-color:checked + .fake::before {
  opacity: 1;
}

/* delivery */

.delivery-list {
  list-style-type: none;

  padding: 0;

  margin: 0;
}

.delivery-item {
  margin-bottom: 10px;
}

.parameters-amount {
  display: flex;
}

.amount-list {
  display: flex;

  list-style-type: none;

  padding: 0;

  margin: 0;
}

.parameters-button {
  height: 40px;

  margin-top: 37px;

  background-color: #000000;
  border: none;

  color: white;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;

  cursor: pointer;
  padding: 9px 22px;

  cursor: pointer;
}

/* PRODUCTS */

.products {
}

.products-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;

  margin-top: 0;
  margin-bottom: 50px;
}

.products-list-card {
  width: 380px;
  text-align: center;

  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.products-image {
  margin-bottom: 30px;
}

.products-name {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: 500;
  color: #1e0606;

  margin-bottom: 15px;
}

.products-price {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1e0606;

  margin-bottom: 25px;
}

/* PRODUCT-PAGE */

.products-page {
  position: relative;

  margin-bottom: 60px;

  text-align: center;
}

.previous {
}

.next {
}

.page {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1e0606;

  line-height: 20px;
  padding: 0 28px;
  margin: 0;
  font-size: 20px;
}

.prev,
.next {
  cursor: pointer;
  height: 17px;
  width: 10px;
  top: 4px;
}
.next {
  float: right;
}
.prev:before,
.next:before {
  background-color: #e5e5e5;
  content: "";
  height: 17px;
  left: 4px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 17px;
}
.next:before {
  left: auto;
  right: 4px;
}
.prev:after,
.next:after {
  background-color: white;
  content: "";
  height: 17px;
  left: 8px;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 17px;
}
.next:after {
  left: auto;
  right: 8px;
}
