.container {
  min-height: 100%;
  width: 1180px;
  margin: 0 auto;
  padding: 0 110px;
}
a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.visually-hidden {
  display: none;
}

h3 {
  margin: 0;
}

.tittle {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 44px;

  margin-top: 60px;
  margin-bottom: 19px;
}

.link {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  display: block;

  padding: 9px 22px;
}

.link:hover {
  background-color: #c29974;
}

.link:active {
  background-color: #cfaf91;
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;

  margin-bottom: 50px;

  padding: 0;
}

.breadcrumbs-item {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  line-height: 25px;

  display: inline-block;

  margin-right: 16px;
}

.breadcrumbs-item:not(:last-child):after {
  content: url(/images/breadcrumb.svg);
  margin-left: 17px;
  font-style: normal;
}

.breadcrumbs-link {
  color: #1e0606;
  text-decoration: none;
}

.breadcrumbs-active {
  color: #1e0606;
  opacity: 0.5;
}

/* Header */

.header {
  margin-top: 50px;
  margin-bottom: 40px;
}

.header-wrapper {
  display: flex;
}

.header-logo {
  display: block;

  margin-right: 60px;
}

.header-nav {
  font-family: "Open Sans", sans-serif;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 100%;
}

.header-list {
  list-style-type: none;
  text-transform: uppercase;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
}

.header-list-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;

  margin-right: 20px;
}

.header-list-item-link {
  color: #000000;
}

.header-search {
  margin: 0;
}

.header-contactus {
  margin-right: 0;
  margin-left: 23.45px;
}

.header-text-contactus {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.header-logo-link:hover,
.header-list-item:hover {
  opacity: 50%;
}

.header-logo-link:active,
.header-list-item:active {
  opacity: 25%;
}

/* footer */

.footer {
  min-width: 1400px;

  background-color: #434343;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-tittle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #aaaaaa;

  text-transform: capitalize;

  margin-top: 0;
  margin-bottom: 23px;
}

.footer-contanier {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 100px 0;
}
.footer-nav {
  margin-right: 20px;
  width: 380px;
}

.footer-nav-list {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  list-style-type: none;

  padding: 0;

  margin-top: 28px;
  margin-bottom: 28px;
}

.nav-line-short {
  border: none;
  background-color: #666666;
  height: 1.5px;
  width: 100%;
}

.nav-line-long {
  border: none;
  background-color: #666666;
  height: 1.5px;
  width: 100%;

  margin: 0;
}

.nav-list-item {
  margin-bottom: 19px;
}

.nav-link {
  text-transform: capitalize;

  color: #ffffff;
}

.footer-customer {
  margin-right: 20px;
  width: 380px;
}

.footer-customer-list {
  list-style-type: none;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 28px;

  padding: 0;

  color: #ffffff;
}

.footer-connect {
  width: 380px;
}

.connect-networks {
  display: flex;

  list-style-type: none;

  padding: 0;
}

.networks-circle {
  width: 30px;
  height: 30px;
  background: #666666;
  border-radius: 50%;
}

.footer-connect-email {
  margin-top: 25px;
  margin-bottom: 25px;

  height: 40px;
}

.footer-connect-form {
  display: flex;

  height: 40px;
}

.connect-email {
  font-family: Open Sans;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;

  width: 299px;

  background-color: #666666;

  border: none;

  padding-left: 15px;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

.connect-button {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  background-color: black;

  border: 0 none;

  width: 81px;

  padding: 0;

  cursor: pointer;
}

.networks-circle {
  margin-right: 10px;
}

.social-link {
  display: inline-block;
  width: 30px;
  height: 30px;

  background: center no-repeat;
}

.social-facebook {
  background-image: url(/images/soc_facebook.svg);
}
.social-twitter {
  background-image: url(/images/soc_twitter.svg);
}
.social-pinterest {
  background-image: url(/images/soc_pinterest.svg);
}
.social-instagram {
  background-image: url(/images/soc_instagram.svg);
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  width: 100%;

  margin-top: 23px;
}

.info-list {
  display: flex;

  list-style-type: none;

  padding: 0;

  margin-right: 20px;

  width: 380px;
}

.info-list-company {
  display: flex;

  margin-right: 20px;
}

.stars-company {
  margin-top: 1px;
  margin-right: 6px;
}

.stars {
  display: flex;

  margin: 0 0 0 28px;

  padding: 0;

  list-style-type: none;
}

.info-list-copyright {
  width: 380px;
  margin-right: 20px;
}

.info-list-webdesign {
  width: 380px;
  color: #a2a2a2;
}

/* pages  */

.pages {
  position: relative;

  text-align: center;

  padding-bottom: 3px;
}

.page {
  line-height: 20px;
  padding: 0;
  margin: 0 26px 0 36px;
  font-size: 20px;
}

.prev,
.next {
  cursor: pointer;
  height: 17px;
  width: 10px;
  top: 4px;
}
.next {
  float: right;
}
.prev:before,
.next:before {
  background-color: rgba(30, 6, 6, 0.12);
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg);
  width: 20px;
}
.next:before {
  left: auto;
  right: 4px;
}
.prev:after,
.next:after {
  background-color: white;
  content: "";
  height: 20px;
  left: 9px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg);
  width: 20px;
}
.next:after {
  left: auto;
  right: 8px;
}

.page-nomber {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #1e0606;
}

.next:hover::before,
.prev:hover::before {
  background-color: #c29974;
}

.next:active::before,
.prev:active::before {
  background-color: #c29974;
  opacity: 0.5;
}

.page-nomber:hover {
  color: #1e0606;
  opacity: 0.5;
}

.page-nomber:active,
.page-nomber:focus {
  color: #c29974;
}

/* form */

.form-wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  background-color: #e5eaf8;

  padding: 42px 40px;

  margin-right: 120px;

  width: 680px;
}

.form-lable {
  display: flex;
  flex-direction: column-reverse;

  margin-bottom: 20px;
}

.input-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  border: 1px solid rgba(0, 0, 0, 0.2);

  padding: 14px 19px;
}

.input-name {
}

.form-phone-email {
  display: flex;
  justify-content: space-between;
}

.input-phone {
  margin-right: 10px;
}

.input-email {
  margin-left: 10px;
}

.form-cell-50 {
  width: 600px;
}

.input-lable-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 6px;
}

.form-message {
  box-sizing: border-box;
  width: 600px;
  height: 150px;

  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-subscribe {
  margin-bottom: 20px;
}

.subscribe-checkbox {
  display: none;
}

.subscribe-fake {
  display: inline-block;

  width: 19px;
  height: 19px;

  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;

  position: relative;
}

.subscribe-fake::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);

  display: block;
  width: 100%;
  height: 100%;
  background: url(/images/Vector_1.svg);
  background-repeat: no-repeat;
  background-size: 16px 14px;

  opacity: 0;
  transition: 0.2s;
}

.subscribe-checkbox:checked + .subscribe-fake::before {
  opacity: 1;
}

.subscribe-text:hover {
  text-decoration: underline;
}

.subscribe-text,
.subscribe-fake {
  vertical-align: middle;

  cursor: pointer;
}

.subscribe-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  padding-left: 10px;
}

.form-button {
  align-self: start;

  background-color: #000000;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  display: block;

  padding: 11px 22px;

  border: none;
  cursor: pointer;
}
