/* slideshow-container */

.slideshow-container {
  padding-top: 89px;
  margin-bottom: 91px;
}

.slide-list {
  position: relative;

  list-style: none;

  padding: 0;

  margin: 0;

  width: 100%;
}

.slide-image {
  position: absolute;
  left: 445px;
  top: -90px;

  z-index: 2;
}

.slide-wrapper {
  position: relative;

  max-width: 1180px;

  background-color: #eee4db;
}

.slide__number-strips {
  position: absolute;
  left: 28px;
  top: 17px;
}

.slide-number {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: rgba(30, 6, 6, 0.05);
  font-weight: 400;
  margin-bottom: 13px;
}

.slide-strips {
}

.strip {
  display: block;

  border: none;

  margin: 0 0 11px 3px;

  width: 31px;
  height: 3px;

  background-color: #d6cac2;

  outline: none;

  cursor: pointer;
}

.strip:active,
.strip:focus,
.strip:hover {
  background-color: rgba(30, 6, 6, 0.6);
}

.slider__tittle-text-link {
  padding-left: 133px;
  padding-top: 90px;
}

.slide-title {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 44px;

  margin-bottom: 18px;
  margin-top: 0;

  width: 400px;
}

.slide-text {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  line-height: 25px;

  margin-bottom: 29px;
  margin-top: 0;
}

.slide-link {
  width: 161px;

  background-color: black;

  text-align: center;
}

.slide-bottom-info {
  margin-top: 99px;
}

.slide-bottom-text {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;

  background-color: #c29974;

  padding: 11px 364px;

  margin: 0;

  text-align: center;
}

/* category */

.category-container {
  margin-bottom: 90px;
}

.category-tittle {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  margin-top: 0;
  margin-bottom: 31px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;

  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  padding-left: 0;

  margin-top: 0;
  margin-bottom: 30px;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 20px;

  cursor: pointer;
}

.category-list-accessories {
  margin-right: 0;
}

.category-button-text {
  display: flex;
}

.category-button {
  display: flex;
  padding-top: 2px;

  border: none;

  padding: 0;

  margin-top: 2px;
}

.category-link {
  margin: 0;
}

.category-previous {
  width: 37px;
  height: 37px;

  background: rgba(112, 187, 220, 0.2);

  border: none;

  cursor: pointer;

  margin-right: 6px;
}

.category-next {
  width: 37px;
  height: 37px;

  background: rgba(112, 187, 220, 0.2);

  border: none;

  cursor: pointer;
}

.image-previous {
  margin-top: 3px;
}

.category-card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  margin: 0 20px;

  width: 540px;
}

.category-card-text {
  vertical-align: middle;
}

/* service */

.service-container {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 87px;
}

.service-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
}

.contanier-delivery-description {
  margin-left: 60px;
}

.service-tittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  margin: 32px 0 6px 61px;
}

.service-list {
  padding: 0;

  margin-top: 0;
  margin-bottom: 20px;
}

.service-item {
  width: 326px;

  list-style-type: none;
}

.service-item-active {
  background-color: rgba(112, 187, 220, 0.2);

  font-weight: 700;
}

.service-item-link {
  font-family: "Crimson Text", serif;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;

  display: block;
  padding: 14px 180px 9px 60px;
}

.delivery-paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  margin-left: 121px;
  margin-bottom: 36px;

  width: 470px;

  margin-left: 60px;
}

.paragraph1 {
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph2 {
  margin-bottom: 0;
}

.service-item {
}

.service-link {
  margin-left: 60px;
}

/* partners */

.partners-container {
  margin-bottom: 87px;
}

.partners-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;

  padding: 0;
}

.partners-list-item {
}

/* design-contacts */

.design-contacts {
  margin-bottom: 55px;
}

.design-contacts-wrapper {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  position: relative;
}

/* design */

.design-wrapper {
  margin-right: 100px;

  padding-left: 30px;
}

.design-text {
  width: 470px;

  position: relative;

  z-index: 2;
}

.design-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  color: #1e0606;

  margin: 0 0 12px 0;
}

.design-aboutus-tittle {
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;

  color: #1e0606;

  margin: 0 0 10px 0;
}

.design-paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;

  color: #1e0606;

  margin: 0 0 31px 0;
}

.design-bg {
  background-color: #e1f0f7;

  min-width: 543px;
  min-height: 236px;

  position: absolute;
  left: 0;
  top: 26px;

  z-index: 0;
}

/* contacts */

.contacts-wrapper {
  position: relative;

  padding-left: 30px;
}

.contacts-text-map {
  position: relative;
  z-index: 1;
}

.contacts-bg {
  background-color: #e1f0f7;

  min-width: 543px;
  min-height: 209px;

  position: absolute;
  left: 0;
  top: 26px;

  z-index: 0;
}

.map {
}

.contacts-tittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  margin: 0 0 20px 0;
}

.contacts-paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 23px;

  width: 470px;

  margin: 0 0 20px 0;
}

/* Window-Modal */

.window-modal {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(125, 151, 218, 0.8);

  z-index: 2;
}

.form-wrapper {
  position: relative;
}

.button-close {
  position: absolute;
  top: 0;
  right: -25px;
  cursor: pointer;

  width: 15px;
  height: 15px;

  border: none;

  background: url(/images/exit.svg);
}

/* .button-close::before {
  content: "";
  position: absolute;
  top: 0;
  height: 15px;
  width: 2px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.button-close::after {
  content: "";
  position: absolute;
  top: 0;
  height: 15px;
  width: 2px;
  background-color: #ffffff;
  transform: rotate(-45deg);
} */
