/* slideshow-container */

.slideshow-container {
  padding-top: 89px;
  margin-bottom: 90px;
}

.slide-list {
  position: relative;

  list-style: none;

  padding: 0;

  margin: 0;

  width: 100%;
}

.slide-image {
  position: absolute;
  left: 445px;
  top: -91px;

  z-index: 1;
}

.slide-wrapper {
  position: relative;

  max-width: 1180px;

  background-color: #eee4db;
}

.slide__number-strips {
  position: absolute;
  left: 31px;
  top: 17px;
}

.slide-number {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  color: rgba(30, 6, 6, 0.05);
  font-weight: 400;
  margin-bottom: 10px;
}

.slide-strips {
  cursor: pointer;
}

.strip {
  display: block;

  border: 0 none;

  margin: 11px 0;

  width: 31px;
  height: 3px;

  background-color: #d6cac2;
}

.strip-active {
  background-color: rgba(30, 6, 6, 0.6);
}

.slider__tittle-text-link {
  padding-left: 133px;
  padding-top: 89px;
}

.slide-title {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 44px;

  margin-bottom: 20px;
  margin-top: 0;

  width: 400px;
}

.slide-text {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  line-height: 25px;

  margin-bottom: 20px;
  margin-top: 0;
}

.slide-link {
  width: 161px;

  background-color: black;

  text-align: center;
}

.slide-link-text {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  display: block;

  padding: 9px 0;
}

.slide-bottom-info {
  margin-top: 89px;
}

.slide-bottom-text {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;

  background-color: #c29974;

  padding: 11px 364px;

  margin: 0;

  text-align: center;
}

/* category */

.category-container {
  margin-bottom: 90px;
}

.category-tittle {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  margin-top: 0;
  margin-bottom: 30px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;

  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  padding-left: 0;

  margin-top: 0;
  margin-bottom: 30px;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 20px;

  cursor: pointer;
}

.category-link {
  position: relative;
}

.category-list-accessories {
  margin-right: 0;
}

.card-tittle {
  color: #ffffff;

  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-button-text {
  display: flex;
}

.category-button {
  display: flex;
  padding-top: 2px;

  border: none;

  padding: 0;

  margin-top: 3px;
}

.category-link {
  margin: 0;
}

.previous {
  width: 37px;
  height: 37px;

  background: rgba(112, 187, 220, 0.2);

  border: none;

  cursor: pointer;

  margin-right: 6px;
}

.next {
  width: 37px;
  height: 37px;

  background: rgba(112, 187, 220, 0.2);

  border: none;

  cursor: pointer;
}

.image-previous {
  margin-top: 3px;
}

.category-card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  margin: 0 20px;

  width: 540px;
}

/* service */

.service-container {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 90px;
}

.service-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
}

.contanier-delivery-description {
  margin-left: 60px;
}

.service-tittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  margin-top: 30px;
  margin-bottom: 6px;
  margin-left: 61px;
}

.service-list {
  padding: 0;

  margin-top: 0;
  margin-bottom: 22px;
}

.service-item {
  width: 326px;

  list-style-type: none;
}

.service-item-active {
  background-color: rgba(112, 187, 220, 0.2);

  font-weight: 700;
}

.service-item-link {
  font-family: "Crimson Text", serif;
  font-size: 26px;
  line-height: 32px;
  color: #1e0606;

  display: block;
  padding: 14px 180px 9px 60px;
}

.delivery-paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  margin-left: 121px;
  margin-bottom: 26px;

  width: 470px;

  margin-left: 61px;
}

.paragraph1 {
  margin-top: 0;
  margin-bottom: 0;
}

.paragraph2 {
  margin-bottom: 0;
}

.service-item {
}

.service-link {
  background-color: black;

  margin-left: 61px;

  text-align: center;

  width: 149px;
}

.service-link-text {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  display: block;

  padding: 9px 0;
}

/* partners */

.partners-container {
  margin-bottom: 86px;
}

.partners-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style-type: none;

  padding: 0;
}

.partners-list-item {
}

/* design-contacts */

.design-contacts {
  margin-bottom: 60px;
}

.design-contacts-wrapper {
  display: flex;
}

/* design */

.design-container {
  margin-right: 57px;

  position: relative;
}

.design-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  margin: 0;

  position: absolute;
  left: 30px;
}

.design-wrapper {
  display: flex;
  flex-wrap: wrap;

  width: 543px;

  background-color: #e1f0f7;

  margin-top: 26px;
}

.design-aboutus-tittle {
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;

  padding-top: 31px;

  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 10px;
}

.design-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;

  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 20px;

  width: 470px;
}

.design-link {
  background-color: black;

  width: 123px;

  margin-left: 30px;
  margin-bottom: 35px;

  padding: 9px 0;

  text-align: center;
}

.design-link-text {
  display: block;

  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
/* contacts */
.contacts-container {
  position: relative;
}

.map {
  position: absolute;
  bottom: 0;
  left: 30px;
}

.contacts-tittle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 46px;

  margin: 0;

  position: absolute;
  top: 0;
  left: 30px;
}

.contacts-wrapper {
  display: flex;

  width: 543px;

  margin-top: 26px;
  margin-bottom: 114px;

  background-color: #e1f0f7;
}

.contacts-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;

  margin-top: 41px;
  margin-left: 30px;
  margin-bottom: 102px;

  width: 470px;
}
