.tittle {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 44px;

  margin-top: 60px;
  margin-bottom: 15px;
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;

  margin-bottom: 50px;

  padding: 0;
}

.breadcrumbs-item {
  font-family: "Crimson Text", serif;
  font-size: 20px;
  line-height: 25px;

  display: inline-block;

  margin-right: 20px;
}

.breadcrumbs-item:not(:last-child):after {
  content: url(/images/breadcrumb.svg);
  margin-left: 20px;
  font-style: normal;
}

.breadcrumbs-link {
  color: #1e0606;
  text-decoration: none;
}

.breadcrumbs-link:not(span):hover {
  text-decoration: underline;
}

.breadcrumbs-active {
  color: #1e0606;
  opacity: 0.5;
}

/* category products */

.category-products {
  margin-bottom: 50px;
}

.category-list li:nth-child(6n + 4) {
  margin-left: 200px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;

  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  padding: 0;

  margin: 0;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 270px;
  margin-right: 20px;
  margin-bottom: 23px;

  cursor: pointer;
}

.category-item-bottom {
  margin-bottom: 0;
}

.category-link {
  position: relative;
}

.card-tittle {
  color: #ffffff;

  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* description */

.description {
  margin-bottom: 60px;
}

.description-tittle {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  line-height: 46px;

  margin-bottom: 25px;
  margin-left: 200px;
}

.description-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;

  width: 670px;

  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 200px;
}
