/* category products */

.category-products {
  margin-bottom: 50px;
}

.category-list li:nth-child(6n + 4) {
  margin-left: 200px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;

  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  padding: 0;

  margin: 0;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 270px;
  margin-right: 20px;
  margin-bottom: 23px;

  cursor: pointer;
}

.category-item-bottom {
  margin-bottom: 0;
}

/* description */

.description {
  margin-bottom: 60px;
}

.description-tittle {
  text-transform: uppercase;

  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  line-height: 46px;

  margin-bottom: 25px;
  margin-left: 200px;
}

.description-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;

  width: 670px;

  margin-top: 0;
  margin-bottom: 15px;
  margin-left: 200px;
}
